*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#img-div{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
}

div#container{
    height: 200px;
    width: 400px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

h1#display{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

button#btn{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
    top: 70%;
    position: absolute;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

button#btn:hover{
    background-color: #45a049;
}

button#btn:active{
    scale: 0.95;
}


