*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 240, 240);
}


main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(26, 26, 26),rgb(30, 30, 30),rgb(16, 16, 16));
    padding: 40px;
}

section{
    height: 100%;
    width: 350px;
    border-radius: 10px;
    background-color: black;
    margin: auto;
}

.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    padding: 30px 20px;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.935));
    position: absolute;
    bottom: 0;
}


.bottom .user{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.bottom .user img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user h4{
     font-size: 15px;
     font-weight: 500;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
}

.bottom>h3{
    font-weight: 500;
    font-size: 20px;
}

.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40px;
    position: absolute;
    right: 0;
    /* transform: translateX(100%); */
    bottom: 10%;
}

.right i{
     font-size: 28px;
     font-weight: 500;
}

.right h6,
.right>div h6 {
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    cursor: pointer;
}

.love{
    color: red;
}

.right>div h4{
    pointer-events: none;
}


.mute{
    background-color: #4c4c4c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.mute i{
    font-size: 20px;
    pointer-events: none;
}

.mute:active{
    transform: scale(0.95);
}