*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 600px;
    background-color: aliceblue;
    padding: 30px;
}

#card h1{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}

#card h1 span{
    font-weight: 700;
    color: blue;
}

#card #loader-outer{
    height: 10px;
    background-color: rgb(195, 192, 192);
    border-radius: 5px;
}

#card #loader-outer #loader-inner{
    height: 10px;
    width: 0;
    border-radius: 5px;
    background-color: rgb(169, 36, 16);
}

#card #download-fun{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#card #download-fun h4{
    font-size: 38px;
}

#card #download-fun button{
    padding: 12px 24px;
    background-color: rgb(246, 115, 115);
    font-size: 16px;
}

#card #download-fun button:active{
    transform: scale(0.95);
}