*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root{
    --x : 200px;
    --y : 200px;
}


main{
    width: 100%;
    height: 100%;
    background: radial-gradient(200px at var(--x) var(--y),rgba(255, 255, 255, 0) 10%,rgba(0, 0, 0, 0.573) 80%,rgba(0, 0, 0, 0.898) 100%);
    position: absolute;
    top: 0;
    left: 0;
}