*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: whitesmoke; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading{
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

#counter-div{
    width: 40%;
    padding: 4rem 1.2rem;
    background: linear-gradient(45deg, #9929EA 40%, #CC66DA 60%);
    border-radius: 1.2rem;
    box-shadow: 0 8px 30px rgba(81, 81, 81, 0.7); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

#counter{
    font-size: 6rem;
    font-weight: 700;
}

#button-div{
    display: flex;
    gap: 6rem;
}

#button-div button{
    width: 4rem;
    height: 4rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #f0f0f0;
    background-color: #333333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s;
}

#button-div button:hover{
    background-color: #555555;
    transform: scale(1.1);
}