*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#color-box{
    height: 400px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #fbf9f9;
    transition: background-color 0.2s ease;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 207, 237);
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:active{
    scale: 0.95;
}